<h1>This is a list of <%= @user.name %>'s previous purchases</h1>
<ul>

<% if @wines.size > 0 %>
    <% @wines.each do |wine| %>
      <% if wine.user_id == @current_user.id %>
        <li><a href="/wines/<%= wine.id %>"><b><%= wine.name %></b></a> from <%= wine.country %> for $<%= wine.price %></li>
        <br></br>
      <% end %>
    <% end %>
    <a href="/wines/new">Create new wine</a> <b><a href="/logout">Log out</a></b>
  <% else %>
    <p>You don't have any recorded wines! <a href="/wines/new">Create a new one here</a>.</p>
    
  <% end %>



    
    
    
    </ul>
